:root {
    --main: #e74c3c;
}

html,
body {
    background: #040406;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: var(--main);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}


input, button {
    padding: 0.5rem 1rem;
    background: inherit;
    border: 1px solid gray;
    color: inherit;
}
